@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: auto;
}

.center {
    border: 0px solid
}
.a {
    flex: 1;
}

.b {
    flex: 1 ;
}
.c {
    border-left: 2px solid black;
    border-right: 2px solid black;
    flex: 2 !important;
}

.bar, progress {
    margin: auto;
}

.jobTasks .row .column {
    justify-content: center;
}

.bar div {
    margin: 0;
    border: 2px solid black;
}

.jobTasks .row {
    border: 2px solid black;
    border-radius: 16px;
    gap: 0%;
}


.jobTasks .row:hover {
    transition: 0.1s;
    transform: scale(1.2);
}
.bar {
    margin: 0;
    border: 2px solid black;
    border-radius: 10%;
}

.nameBtn {
    width: 40%;
}

.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.title {
    font-size: 30px;
    outline-color: yellow;
}

.row {
    display: flex;
    gap: 10% ;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.rightColumn {
    margin: auto;
}

.selected {
    background-color: green;
    color: white;
}

a:hover {
    transition: 0.2s;
    padding: 15px;
    transform: scale(1.3);
    background-color: #4d4d4d;
    color: #fff;
}

li:hover {
    margin: 0;
    transform: scale(1.16);
    transition: 0.1s;
    background-color: #ff2c1c;
    border-radius: 8%;
    color: white;
    cursor: pointer;
}


/* button:hover {
    transform: scale(1.2);
    background-color: #081c2c !important;
    color: #05bac3;
} */


.dropdown-content a {
    display: block;
    padding: 1rem;
    text-decoration: none;
    width: 100%;
    word-wrap: break-word; /* Enable word wrapping */
  }
  

.box {
    text-align: center;
    width: 150px;
    border: 2px solid black;
    border-radius: 5%;
}

.dropdown-content {    background-color: #fff;
    max-width: 200px; /* Maximum width of dropdown content */
    width: auto;
    max-height: 200px; /* Maximum height of dropdown content */
    overflow-y: auto; /* Enable vertical scrolling */
    overflow-x: hidden; /* Disable horizontal scrolling */
    z-index: 1;
    right: 0; /* Position dropdown content to the right */
    top: 0; /* Align dropdown content with the top of the button */
    text-align: center; /* Center text within dropdown content */
    flex-direction: column;
  }

.scrollMenu {

    border-radius: 8%;
    border: 2px solid black;
    max-width: 250px;
    overflow:auto;
    width: 50px;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.jobName {
    margin: auto;
    border-bottom: 2px solid black;
    font-size: 30px;
}

.jobTasks {
    cursor: pointer;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.jobTask {
    display: inline;
    position: relative;
    width: 100%;
}

button {
    
    margin: 5%;
}
  
input {

}

code {
font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
monospace;
}